<% if session[:id] %>
  <div class="user-profile">
    <h1>This is <%= @somebody_else.username %>'s page!</h1>

    <% if @user.leaders.include?(@somebody_else) %>
      <div>
        <form action="/users/<%= @user.id %>/profiles/<%= @somebody_else.id %>/unfollow" method="get">
          <input class="unfollow-button" type="submit" value="Unfollow">
        </form>
      </div>
    <% else %>
      <div>
        <form action="/users/<%= @user.id %>/profiles/<%= @somebody_else.id %>/follow" method="get">
          <input class="follow-button"type="submit" value="Follow">
        </form>
      </div>
    <% end %>
  </div>

  <div class="body">
    <div class="tweets-container">
      <h1><%="#{@somebody_else.username}"%>'s Tweets</h1>
      <div class="tweets">
        <% @somebody_else.tweets.each do |tweet| %>
          <p><%= tweet.message %></p>
        <% end %>
      </div>
    </div>
  </div>

<% else %>
  <p> You should login </p>
<% end %>


